.bold{
  font-weight: bold;
}
a {
  box-shadow: inset 0 0 0 0 #e6a756;
  color: #1c0e09;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 500px 0 0 0 #e6a756;
  color: #1c0e09;
}
.text{
  font-size: 1.5vw;
  /*  font-size: 17px;*/
  /*  word-break: break-word;*/
}
span{
  font-size: 3.5vw;
  /*  word-break: break-word;*/
}
